{% load i18n %}
{% load compress %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" id="page_description" content="{% block meta_description %}{% endblock meta_description %}">
        <meta name="htmx-config" content='{"scrollBehavior":"auto"}'>
        <meta name="robots" content="{{ page.robots }}"/>

        <title id="page_title">
            {% block meta_title %}{% endblock meta_title %}
        </title>

        <link rel="stylesheet" href="https://yki-static.s3.eu-west-1.amazonaws.com/css/jquery-ui_1.13.2.min.css">
        <link rel="stylesheet" href="{% static 'src/output_dj_polyglot_app.css' %}">

        {% block style %}
        {% endblock style %}

        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/jquery_3.6.0.min.js"></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/htmx_2.0.2.js"></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/hyperscript_0.9.12.js"></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/select2_4.1.0-rc.0.min.js"></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/sweetalert2_11.10.5.js"></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/alpinejs_3.13.10.js" defer></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/jscolor_2.5.2.min.js"></script>
        <script src="https://yki-static.s3.eu-west-1.amazonaws.com/js/flowbite_2.2.1.min.js"></script>
        <script src="https://kit.fontawesome.com/5491d1f7f2.js" crossorigin="anonymous"></script>

        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>
    </head>

    <body class="font-sans antialiased bg-gray-100 dark:bg-gray-800 dark:text-white">
        {% block navbar %}
            <nav class="z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-15">
                <div class="py-3 px-3 lg:px-5 lg:pl-3">
                    <div class="flex justify-between items-center">
                        <div class="flex justify-start items-center">
                            <a href="{% url "homepage" %}" class="flex mr-14">
                                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                                    DJ POlyglot
                                </span>
                            </a>
                        </div>
                        <div class="flex items-center">
                            <div class="flex items-center ml-3">
                                <button type="button" class="flex text-sm bg-gray-800" aria-expanded="false" data-dropdown-toggle="dropdown-2">
                                    <span style="height: 32px; width: 32px;">
                                        <svg viewBox="0 0 120 120" class="app-83fpe7 e12mm3kg0">
                                            <rect x="0" y="0" width="120" height="120" rx="15" ry="15" fill="#ec5e44"></rect>
                                            <text x="50%" y="50%" font-size="65" text-anchor="middle" fill="#FFFFFF" style="dominant-baseline: central;">Y</text>
                                        </svg>
                                    </span>
                                </button>

                                <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-2">
                                    <ul class="py-1" role="none">
                                        {% if request.user.is_superuser %}
                                            <li>
                                                <a
                                                    href="{% url "admin:index" %}"
                                                    class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                                >
                                                    Admin
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a
                                                href="{% url "account_logout" %}"
                                                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                            >
                                                {% trans "Logout" %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock navbar %}

        <div id="main_content">
            {% block content %}
            {% endblock content %}
        </div>

        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>
</html>
